<style>
  footer {
    position: fixed;
  }
</style>
<h3 class="mb-2">Welcome, {{session.user.name}}</h3>
<p class="mb-5">Your api key is: {{session.user.apiKey}}</p>
<form method="get" action="/api/movies">
  <div class="form-group">
    <label for="page">Page Number</label>
    <input type="number" name="page" placeholder="Enter Page Number" class="form-control">
    {{#if error}}
    <a style="color: red; font-size: 13px">{{error.page}}</a>
    {{/if}}
  </div>
  <div class="form-group">
    <label for="perPage">Content Per page</label>
    <input type="number" name="perPage" placeholder="Enter Content Per Page" class="form-control">
    {{#if error}}
    <a style="color: red; font-size: 13px">{{error.perpage}}</a>
    {{/if}}
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Enter Title" class="form-control">
  </div>
  <input type="hidden" name="view" value="true" />
  <input type="hidden" name="apiKey" value="{{session.user.apiKey}}" />
  <button type="submit" class="btn btn-primary">Enter</button>
</form>